# write a python script to print the 1 to 10

In [8]:
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

# write a python script to print a range(1,23,3)

In [9]:
for number in range(1, 23, 3):
    print(number)

1
4
7
10
13
16
19
22

# write python script to print the first 10 multiplies of 5

In [1]:
for i in range(1, 11):
    print(5 * i)

5
10
15
20
25
30
35
40
45
50

# write python script to print the first multiplies of N

In [6]:
# Get input from user
N = int(input("Enter a number: "))

# Print first 10 multiples of N
for i in range(1, 11):
    print(N * i)

Enter a number:  6

6
12
18
24
30
36
42
48
54
60

# write python script to print the first M multiplies of N

In [3]:
# Get inputs from user
N = int(input("Enter the number (N): "))
M = int(input("Enter how many multiples to print (M): "))

# Print first M multiples of N
for i in range(1, M + 1):
    print(N * i)

Enter the number (N):  10
Enter how many multiples to print (M):  15

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150

# write python script to print the first 10 multiplies of N in reverse order

In [4]:
# Get input from user
N = int(input("Enter a number (N): "))

# Print first 10 multiples of N in reverse order
for i in range(10, 0, -1):
    print(N * i)

Enter a number (N):  5

50
45
40
35
30
25
20
15
10
5

# write python script to print the table of users choice

In [5]:
# Get number from user
num = int(input("Enter the number to print its table: "))

# Print multiplication table (1 to 10)
print(f"\nMultiplication Table of {num}:\n")

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter the number to print its table:  14

Multiplication Table of 14:

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

# List

In [10]:
l1=[23,55,11]
for e in l1:
    print(e,end=' ')
    print(l1[0],l1[1])
    print(l1[-1])

23 23 55
11
55 23 55
11
11 23 55
11

In [12]:
l2=[24,51,10]
for e in l2:
    print(e,end=' ')
    print(l2[0],l2[1])
    print(l2[-1])

24 24 51
10
51 24 51
10
10 24 51
10

In [15]:
numbers = input("Enter numbers separated by space: ").split()
numbers = [int(num) for num in numbers]
print("Your list is:", numbers)

Enter numbers separated by space:  12

Your list is: [12]

In [40]:
info=['diksha','21','cse']
del info[1]
print (info)

l1=['cat','dog','rat']
print(l1)

['diksha', 'cse']
['cat', 'dog', 'rat']

In [37]:
subjects=['python','cad','maths']
subjects.append('c')
subjects.remove('maths')
print(subjects)

['python', 'cad', 'c']

In [38]:
l2=['22','23','21','24']
l2.append('22')
l2.insert(0,'20')
l2.remove('23')
print(l2)

['20', '22', '21', '24', '22']

In [39]:
l1=[23,55,11]
l1[0]=60
l1[1]=20
l1[2]=33
print(l1)

[60, 20, 33]